



.postsTable {
    /* margin-top: 130px; */
    position: absolute;
    left: 40%;
    background-color: rgba(30, 31, 39, 0.10);
}



.page_title {
    margin-top: 120px;
    padding-bottom: 10px;
    padding-left: 150px;
    font-size: 1rem;
    text-align: center;
    color:#bfbfd1;
}

.postsTable_header h3{
    padding-bottom: 25px;
    padding-left: 40px;

}


#posts_date a {
    /*color: rgb(96, 28, 221);*/
    color: rgb(206, 157, 24);
    font-size: 1.2rem;
    font-weight: bold;
 }


 #posts_title a {
    /*color: gold; */
    color: #bfbfd1;
    padding-left: 50px;
    
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
 }

 
.posts_row td {
    color: blue;
    padding-bottom: 20px;
}

.posts_row td a {
    text-decoration: none;
    color: rgb(222, 226, 223);
    text-align: center;
    vertical-align: middle;
}

#posts_desc {
    text-decoration: none;
    color: green;
    width: 50vw;
    padding-bottom: 30px;
    text-align: left;
}


.posts_title {
    color: #e7e981;
}

@media (max-width: 1300px) {
    #posts_title a {
        font-size: .9rem;
        font-weight: bold;
    }

    #posts_date a {
        font-size: .9rem;
        font-weight: bold;
    }

}


@media (max-width: 1200px) {
    #posts_title a {
        font-size: 1rem;
        font-weight: bold;
    }

    #posts_date a {
        font-size: 1rem;
        font-weight: bold;
    }

    .page_title {
        font-size: .8rem;
        font-weight: bold;
        text-align: left;
        padding-left: 300px;
    }

    .postsTable {
        /* margin-top: 130px; */
        position: absolute;
        left: 25%;
        background-color: rgba(30, 31, 39, 0.75);
    }
}


@media (max-width: 1000px) {
    .page_title {
        font-size: .8rem;
        font-weight: bold;
        text-align: left;
        padding-left: 255px;
    }
}


@media (max-width: 720px) {
    #posts_title a {
        font-size: .8rem;
        font-weight: bold;
    }

    #posts_date a {
        font-size: .8rem;
        font-weight: bold;
    }
    .page_title {
        font-size: .8rem;
        font-weight: bold;
        text-align: left;
        padding-left: 184px;
    }
}

@media (max-width: 580px) {
.postsTable {
    
    position: absolute;
    left: 10%;
}

#posts_title a {
    padding-right:20px;
    font-size: .8rem;
    font-weight: bold;
 }

 #posts_date a {
    font-size: .8rem;
    font-weight: bolder;
 }

 .page_title {
    font-size: .8rem;
    font-weight: bold;
    text-align: left;
    padding-left: 60px;
    
}

#posts_title a {
    font-size: .6rem;
    font-weight: bold;
}

#posts_date a {
    font-size: .6rem;
    font-weight: bold;
}

}



@media (max-width: 400px) {
  
    .page_title{
        font-size: .6rem;
        
    }

    .postsTable {
        position: absolute;
        left: 2%;
    }


    #posts_title a {
        padding-right:20px;
        font-size: .6rem;
        font-weight: bold;
     }

     #posts_desc a {
        font-size: .5rem;
    }

    #posts_date a {
        font-size: .6rem;
        font-weight: bolder;
     }
} 

